<footer class="footer container">
  <a href="https://designbyhumans.com/shop/mastodon" class="panel" style="background-image: url(/shirt.png)">
    <div class="overlay">
      <h5>Merch</h5>
      <p>T-shirts and stickers</p>
    </div>
  </a>

  <p class="legal" style="float: right; text-align: right">
    <a href='https://joinmastodon.org'>Join Mastodon</a> · <a href='https://mastodon.social/@Mastodon' target='_blank'><i class='fab fa-mastodon'></i></a> · <a href='/index.xml' target='_blank'><i class='fa fa-rss'></i></a> · <a href='https://twitter.com/joinmastodon' rel='nofollow' target='_blank'><i class='fab fa-twitter'></i></a>
  </p>

  <p class="legal"><a href='https://source.joinmastodon.org/mastodon/blog/tree/master/content/{{.File.Path}}'>View source</a> · <a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a> · <a href='https://joinmastodon.org/imprint'>Imprint</a></p>
</footer>
