{{/* Used to render the list of posts on the index page. */}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    <title>Official Mastodon Blog</title>

    <meta property="og:title" content="Mastodon (Blog)" />
    <meta property="og:type" content="blog" />
    <meta property="og:description" content="Official blog of Mastodon, the decentralized social network of the future. Keep up with new developments!" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@MastodonProject" />
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="intro">
      <div class="container">
        <img src="/brand_small.svg" alt="Mastodon" />
        <h1>Official Mastodon Blog</h1>
      </div>
    </div>

    <div class="container">
      {{ .Content }}

      <ul class="thumbnail-grid h-feed">
        {{ range .Paginator.Pages }}
          <li class="h-entry">{{ .Render "summary" }}</li>
        {{ end }}
      </ul>

      {{ template "_internal/pagination.html" . }}
    </div>

    <div class="container" style="margin-bottom: 30px">
      {{ partial "cta.html" . }}
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
